.categories {
    padding-bottom: 20px;

    .category__item {
        display: block;
        position: relative;
        color: $font-secondary;
        transition: all 0.3s;

        &__title {
            display: inline-block;
            padding: 0.5rem 1rem;
            background: $white;
            text-transform: uppercase;
            letter-spacing: 0.07em;
            @include Center;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.07);
            font-size: 0.8rem;

            &:hover {
                // color: #b68b23;
                color: $theme-primary;
            }
        }
    }

}