// Schemecolor.com --> USPS
//********************************
//****** Colors Variables ********
//********************************
$theme-main: #E81921; //theme colors, icons navbar etc
$theme-primary: #333465; // text, footer, overlay etc
$theme-primary-light: #3E407C;
$theme-grey: #D8D8D8;

// $font-dark: #E41837;
$font-dark: #333465;
$font-light: #6E7580;
$font-extra-light: #EDEDED;
$font-ultra-light: #F7F7F7;

$white: #fff;
$black: #000;

//********************************
//******* Fonts Variables ********
//********************************
$lg: 4em;
$lg_title: 2em;
$sm: 1em;