//********************************
//****** Colors Variables ********
//********************************

$theme-main: #111; //theme colors, icons navbar etc
$theme-primary: #dc3545; // text, footer, overlay etc 
$theme-grey: #D8D8D8;

// $font-dark: #E41837;
$font-dark: #111;
$font-secondary: #343a40;
$font-light: #6E7580;
$font-extra-light: #EDEDED;
$font-ultra-light: #F7F7F7;

$white: #fff;
$black: #000;
$warning: #dcb14a;
$info: #17a2b8;