html {
    box-sizing: border-box;
    background: white;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: $font-stack-1;
    color: $light-black;
    // background-color: lighten($theme-main, 45%);
}

* *:before *:after {
    box-sizing: inherit;
}

img {
    width: 100%;
}

img {
    vertical-align: middle;
    border-style: none;
}

a {
    cursor: pointer;
    text-decoration: none !important;
}

.container {
    overflow: auto;
}

.row {
    overflow: hidden;
}

h1 {
    font-size: 34px;
    font-weight: 700;
}

p {
    font-size: 15px;
    line-height: 18px;
    color: $font-light;
}

.small {
    font-size: .90rem;
    font-weight: 400;
}

.centered {
    margin: 0 auto;
}

.section__title {
    text-align: center;

    h2 {
        font-size: 1.4rem;
        font-weight: 700;
    }
}

.reset-anchor {
    color: inherit;
    transition: all 0.3s;
}

.text-warning {
    color: #ffc107 !important;
}

h4,
.h4 {
    font-size: 1.4rem;
    font-weight: 700;
}