.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    padding: 20px 60px;
    font-size: 16px;
    font-weight: 600;
    color: black;
    background-color: white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 6px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all .3s ease;

    @media (max-width: 768) {
        display: block;
    }

    &:hover,
    &:active,
    &:focus {
        outline: none;
        border: none;
        //transform: scale(1.01);
        //transform: translateY(3px);
    }

}

// Custome button as needed are following --->>>
.btn__default {
    padding: 12px 30px;
    font-size: 14px;
    font-weight: 500;
    color: white !important;
    background-color: red;
    text-transform: uppercase;
    border: none;
    outline: none;
    transition: all .3s ease-in-out;
    border-radius: 6px;
}

.btn__default__sm {
    padding: 8px 18px;
    font-size: 12px;
    font-weight: 500;
    color: white !important;
    background-color: red;
    text-transform: uppercase;
    border: none;
    outline: none;
    transition: all .3s ease-in-out;
    border-radius: 6px;
}