.navbar {
    padding: .75rem 1rem !important;

    .navbar-nav {

        .nav-item {
            .nav-link {
                font-size: .95rem;
                font-weight: 800;
                color: $white !important;

                i {
                    font-size: .95rem;
                }
            }
        }
    }
}

.bg-dark {
    background-color: $font-dark !important;
}