.banner {
    width: 100%;
    min-height: 30rem;
    // background: ('/images/banner/hero.jpg');
    @include fullImage;

    .hero__title {
        font-size: 2rem;
        font-weight: 700;
        color: $light-black;
    }
}